h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

p {
	font-family: 'Open-sans', sans-serif;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.jumbotron {
	text-align: center;
	background-color: #fff;
	position: relative;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 25px;
    top: 30px;
}

.office-logo {
	position: absolute;
	text-align: center;
	left: 300px;
    top: -45px;
    opacity: .3;
}

#intro {
	padding-top: 40px;
}

.search {
	margin-top: 30px;
    padding-top: 50px;
    text-align: center;
}

.gif-buttons {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-primary {
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
	margin-left: 5px;
	font-family: 'Open-sans', sans-serif;
	color: #000;
	background-color: #fbce91;
}

.input-group-btn {
    left: 115px;
    bottom: 34px;
}

.gif-images {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.input-group {
		display: initial;
	}

	.input-group-btn {
		left: 0px;
		bottom: 0px; 
		padding-top: 10px;
	}

	.btn-primary {	
	margin-top: 5px;
    margin-bottom: 5px;
	}
}